{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<div class="breadcrumbs-area">
    <h3>Tableau de bord</h3>
    <ul>
        <li>Administrateur</li>
    </ul>
</div>
{% endblock %}
