{% extends 'base.html.twig' %}

{% block title %}Edit SchoolPeriod{% endblock %}

{% block body %}
<twig:Breadcrumbs label="Modification" />

<div class="card height-auto">
    <div class="card-body">
        <div class="mb-4 mt-3">
            <a class="btn btn-lg btn-dark" href="{{ path('app_school_period_index') }}">Retour</a>
            {{ include('school_period/_delete_form.html.twig') }}
        </div>
        
        {{ include('school_period/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    </div>
</div>

{% endblock %}
