{% extends 'base.html.twig' %}
{% block body %}
<div class="alert alert-danger mt-5 text-center">
    <h2>Licence expirée</h2>
    <p>{{ message }}</p>
    <p>Veuillez contacter un administrateur pour renouveler la licence.</p>
</div>
{% endblock %}